.home {

  &.tv-1 {
    --color-primary: #88cc24;
    --home-bg: linear-gradient(#85c940, #46b2d8);
    --text-color: #3c6918;
    --card-linear-bg: ;
    --info-card-bg: #f3fae9;
  }

  &.tv-2 {
    --color-primary: #55c869;
    --home-bg: linear-gradient(#4fc676, #46b2d8);
    --text-color: #1f6d38;
    --info-card-bg: #e9f9ee;
  }
  &.tv-3 {
    --color-primary: #4ec5bf;
    --home-bg: linear-gradient(#4fbbc5, #9d75fa);
    --text-color:#1f5e66;
    --info-card-bg: #e8f8f7;
  }
  &.tv-4 {
    --color-primary: #6888ff;
    --home-bg: linear-gradient(#7285fd, #df65de);
    --text-color:#2735af;
    --info-card-bg: #eff1fe;
  }
  &.tv-5 {
    --color-primary: #ad6ffe;
    --home-bg: linear-gradient(#b26cf2, #ee6167);
    --text-color:#5527bb;
    --info-card-bg: #f3effe;
  }
  &.tv-6 {
    --color-primary: #f45f58;
    --home-bg: linear-gradient(#f45f63,#ed5fcf);
    --text-color:#9a2420;
    --info-card-bg: #fdeeeb;
  }
  &.tv-7 {
    --color-primary: #9a2420;
    --home-bg: linear-gradient(#f88334,#f6c73c);
    --text-color:#872c07;
    --info-card-bg: #fdf0e7;
  }
  &.tv-8 {
    --color-primary: #4f5c7c;
    --home-bg: linear-gradient(#2f323b,#402d6f);
    --text-color:#323a54;
    --info-card-bg: #ecedf1;
  }

  background-image: var(--home-bg);

  .van-sticky--fixed {
    .nav {
      background: var(--color-primary);
    }
  }

  .guide-info {
    background: var(--info-card-bg);
    border-color: var(--color-primary);

    .icon-point {
      background: var(--color-primary);
    }

    .tv-theme__txt {
      color: var(--color-primary);
    }
  }

  .stars-list {
    .van-button--primary.follow-btn {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

}
